:root {
}
h1 {
    font-size: 4rem;
    }
h2 {
    font-size: 3rem;
    }

h3 {
    font-size: 2.5rem;
}
/* Navigation bar */
header {
    position:relative;
    display: flex;
    flex: wrap;
    width: 100%;
}

.title, header, nav, .links {
    display: flex;
}
.title {
    justify-content: left;
    align-content: center;
    padding: 45px 0 0 20px;
}
.links {
    align-items: flex-end;
}

li {
    padding: 18px 20px 15px 20px;
    justify-content: flex-end;
    margin: 10px;
    text-decoration: none;
    font-size: 1.75rem;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: grab;
}
nav {
    display:flex;
    padding: 2rem;
    width: 100%;   
    justify-content: flex-end;
}

.banner {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    position: relative;
    display:inline-flex;
    width:100%;
    background-image: linear-gradient(
        #003F91 0%,
        #5DA9E9 100%);
  

}


.lead-img {
    position:relative;
    text-align: right;
    color:white;
    margin-right: 10%;
}

.image-caption {
  position: absolute;
  bottom: 20px;
  left: 16px;
  color:black;
}

img {
    max-width: 50%;
}
 


#tagline {
    justify-content: flex-end;
    text-align: end;
    width:90%;
    padding-right: 5%;
    padding-top: 4.5%;
    font-size: 2rem;
    color: aliceblue;
}

#avatar {
    border-radius: 20px 20px 20px 20px;
    padding: 5px ;
    margin-left: 1rem;
    
}
.mainwork {
    display: flex;
    flex: wrap;
}

/* About Me section */
.about-me {
    display:flex;
    justify-content: center;
    
}
#aboutmetitle {
    padding: 100px 20px 20px 75px;
    border-right: 3px solid #5DA9E9;
    height: 225px;
    width: 20%;
    justify-content: center;
    margin-top: 10px;
}
article {
    justify-content: center;
    align-content: center;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 10px 200px 20px 20px;
    line-height: 2;
    width: 80%;
}

p {
    font-size: 3rem;
}

/*Main Work Section */
.mainwork{
    display:flex;
}
.work {
    width: 20%;
    padding: 100px 20px 20px 75px;
    border-right: 3px solid #5DA9E9;
}

.lead-img {
    width: 100%;
}

/* Contact Me Section*/

.contactmesection {
    display: flex;
}
#contact {
    padding: 100px 20px 20px 75px;
    border-right: 3px solid #5DA9E9;
    height: 225px;
    width: 20%;
    justify-content: center;
    margin-top: 10px;
}
.contactme {
    display: flex;
    justify-content: center
    margin: 
}

.resume {
    padding: 100px 20px 20px 75px;
    border-right: 3px solid #5DA9E9;
    height: 200px;
    width: 20%;
    justify-content: center;
    margin-top: 10px;
}

footer {
    text-align: center;

}