:root {

}

body {

    margin: 0 auto;
    flex: 1;
}
h1 {
    font-size: 4rem;
    }
h2 {
    font-size: 3rem;
    }

h3 {
    font-size: 2.5rem;
}
/* Navigation bar */
header {
    position:relative;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    flex-wrap: wrap;
    width: 100%;
    height:auto;
}

.title, header, nav, .links {
    display: flex;
}
.title {
    justify-content: left;
    align-content: center;
    padding: 45px 0 0 20px;
}
.links {
    align-items: flex-end;
}

li {
    padding: 18px 20px 15px 20px;
    justify-content: flex-end;
    margin: 10px;
    text-decoration: none;
    font-size: 1.75rem;
}

a {
    text-decoration: none;
    color: azure;
}

a:hover {
    cursor: grab;
}
nav {
    display:flex;
    padding: 2rem;
    width: 100%;   
    justify-content: flex-end;
}

nav ul li:hover {
    border:#a3c7f7 outset 5px;
}
#nav-headings {
    color: rgb(54, 54, 241);
}

#github-link {
    text-decoration: none;
    color: black;
}
.banner {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    position: relative;
    display:inline-flex;
    width:100%;
    background-image: linear-gradient(
        #003F91 0%,
        #5DA9E9 100%);

}

#tagline {
    justify-content: flex-end;
    text-align: end;
    width:90%;
    padding-right: 5%;
    padding-top: 4.5%;
    font-size: 2rem;
    color: aliceblue;
}

#avatar {
    border-radius: 20px 20px 20px 20px;
    padding: 5px ;
    margin-left: 1rem;
    width: 175px;
    height: auto;
    
}
.mainwork {
    display: flex;
    flex: wrap;
    max-width: 100%;

   
}

/* About Me section */
.about-me {
    display:flex;
    justify-content: center;
   
    
}
#aboutmetitle {
    padding: 100px 40px 20px 75px;
    border-right: 3px solid #5DA9E9;
    height: 225px;
    width: 22%;
    justify-content: center;
    margin-top: 10px;
}

article {
    justify-content: center;
    align-content: center;
    padding: 1rem;
    font-size: 1.4rem;
    margin: 10px 200px 20px 20px;
    line-height: 2;
    width: 75%;
    
}

p {
    font-size: 2rem;
}

/*Main Work Section */
.mainwork{
    display:flex;
    flex: wrap;
    width: 100%
}
.workcolumn {
    display: inline-block;
    padding: 100px 20px 20px 75px;
    border-right: 3px solid #5DA9E9;
    height: auto;
    width: 20%;
    justify-content: center;
    margin-top: 10px;
}
.mainprojects {
    justify-content: center;
    position: relative;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 10px 200px 20px 20px;
    line-height: 2;
    width: 80%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}
/*Images in the work section */
.leadingbox {
   
    max-width: 100%;
    display: block;
    position: relative;
}

img {
    max-width: 100%;
    border-radius: 8px;
   }

#minor-image{
    max-width: 100%;
    width: 400px;
    height: auto;
    filter: blur(5px);
    filter: grayscale(20px);
}
.lead-img {
    position: relative;
    display:block;
    justify-content: center; 
    max-width: 100%;
    height:auto;
    padding: 5%;
    margin: 5%;
}   
.lead-img:hover {
    padding: 0;
    box-shadow: inset 0px 0px 50px #e4ee53;
}

    

.images-top-container {
    max-width: 100%;
    height:auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    color: white;
    }

.images-bottom-container {
    max-width: 100%;
    height:auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    
}
#image-box-top {
    position: relative;
    display:block;
     text-align: center;
     color: rgb(240, 236, 236); 
     padding: 20px;
     max-width: 100%;
     height: auto;
}
#image-box {
   position: relative;
    text-align: center;
    color: rgb(240, 236, 236); 
    padding: 20px;
    max-width: 100%;
    height: auto;
}
#image-box:hover {
    box-shadow: inset 0px 0px 30px #5DA9E9;
    cursor: grab;}
    
.image-caption-bottom-left {
    position: absolute;
    bottom: 20px;
    left: 16px;
    z-index: 100;
    padding: 20px;
    text-shadow:2px 2px  black ;
}

/* Contact Me Section*/

.contactmesection {
    display: flex;
    width:auto
}
#contact-heading {
    padding: 100px 20px 20px 75px;
    border-right: 3px solid #5DA9E9;
    height: 225px;
    width: 20%;
    justify-content: center;
    margin-top: 10px;
    
}
.contactme {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}
/* Resume section */
.resume-section {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#resume-heading {
    padding: 100px 20px 20px 75px;
    border-right: 3px solid #5DA9E9;
    height: 200px;
    width: 20%;
    justify-content: center;
    margin-top: 10px;
}
#resume-content {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    max-width: 100%;
    padding: 20px;
}

/* Footer */
footer {
    text-align: center;


}

/* Responsive Layout */
@media screen and (max-width: 768px) {
    Body,
    nav,
    .links, 
    section,
    .banner,
    .contactme,
    .resume-section {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    #resume-heading, #contact-heading, .workcolumn, #aboutmetitle {
    border: none;
    }
    nav {
        display: block;
    }
    .banner {
        height:fit-content;
    }
    h1,h2,h3,h4,p {
        flex-shrink: 1;
    }
}
    