:root {

}

body {

    margin: 0 auto;
}
h1 {
    font-size: 4rem;
    }
h2 {
    font-size: 3rem;
    }

h3 {
    font-size: 2.5rem;
}
/* Navigation bar */
header {
    position:relative;
    display: flex;
    flex: wrap;
    width: 100%;
}

.title, header, nav, .links {
    display: flex;
}
.title {
    justify-content: left;
    align-content: center;
    padding: 45px 0 0 20px;
}
.links {
    align-items: flex-end;
}

li {
    padding: 18px 20px 15px 20px;
    justify-content: flex-end;
    margin: 10px;
    text-decoration: none;
    font-size: 1.75rem;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: grab;
}
nav {
    display:flex;
    padding: 2rem;
    width: 100%;   
    justify-content: flex-end;
}

.banner {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    position: relative;
    display:inline-flex;
    width:100%;
    background-image: linear-gradient(
        #003F91 0%,
        #5DA9E9 100%);
  

}

#tagline {
    justify-content: flex-end;
    text-align: end;
    width:90%;
    padding-right: 5%;
    padding-top: 4.5%;
    font-size: 2rem;
    color: aliceblue;
}

#avatar {
    border-radius: 20px 20px 20px 20px;
    padding: 5px ;
    margin-left: 1rem;
    width: 175px;
    height: auto;
    
}
.mainwork {
    display: flex;
    flex: wrap;
    max-width: 100%;
}

/* About Me section */
.about-me {
    display:flex;
    justify-content: center;
    
}
#aboutmetitle {
    padding: 100px 20px 20px 75px;
    border-right: 3px solid #5DA9E9;
    height: 225px;
    width: 20%;
    justify-content: center;
    margin-top: 10px;
}
article {
    justify-content: center;
    align-content: center;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 10px 200px 20px 20px;
    line-height: 2;
    width: 80%;
}

p {
    font-size: 3rem;
}

/*Main Work Section */
.mainwork{
    display:flex;
    flex: wrap;
    width: 100%
}
.workcolumn {
    display: inline-block;
    padding: 100px 20px 20px 75px;
    border-right: 3px solid #5DA9E9;
    height: auto;
    width: 20%;
    justify-content: center;
    margin-top: 10px;
}
.mainprojects {
    justify-content: center;
    align-content: center;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 10px 200px 20px 20px;
    line-height: 2;
    width: 80%;
}

.leadingbox {
    width: 60%;
    max-width: 1000px;
    display: block;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

.lead-img {
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: center; 
    max-width: 100%;
    height:auto;
    width: 700px;
    margin: 15%;

    
}
.image-stop {
    max-width: 50%;
    height:auto;
    padding: 20px;
    display: flex;
    flex: wrap;

}
.images-bottom {
    max-width: 50%;
    height:auto;
    padding: 20px;
    display: flex;
    flex: wrap;
}

/* Contact Me Section*/

.contactmesection {
    display: flex;
    width:auto
}
#contact {
    padding: 100px 20px 20px 75px;
    border-right: 3px solid #5DA9E9;
    height: 225px;
    width: 20%;
    justify-content: center;
    margin-top: 10px;
}
.contactme {
    display: flex;
    justify-content: center
    
}
/* Resume section */
.resume {
    padding: 100px 20px 20px 75px;
    border-right: 3px solid #5DA9E9;
    height: 200px;
    width: 20%;
    justify-content: center;
    margin-top: 10px;
}
/* Footer */
footer {
    text-align: center;

}